@mixin ripple-block {
  position: relative;
  text-align: center;
  padding: 40px;
}

@keyframes anka-ripple {
  0% {transform: scale(0.01); opacity: 0.2;}
  80% {transform: scale(100); opacity: 0;}
}
