@mixin dark {
  --color-bg: #28243D;
  --color-card: #312D4B;
  --color-card-hover: #49456c;
  --color-header: #312D4B;
  --color-sidebar: #28243D;
  --color-title: #E7E3FC;
  --color-text: #E7E3FC;
  --color-border: #d3d3d3;

  --color-button-text: #FFFFFF;
  --shadow-preview-card: 0 2px 12px rgba(255, 255, 255, .08);

  --color-switch: rgb(224, 224, 224);
  --shadow-switch: rgba(19, 17, 32, 0.2) 0px 2px 1px -1px,
    rgba(19, 17, 32, 0.14) 0px 1px 1px 0px,
    rgba(19, 17, 32, 0.12) 0px 1px 3px 0px;

  --color-text-input: rgba(231, 227, 252, 0.6);

  --color-thumb: #494569;
  --color-thumb-hover: #312D4B;
  --color-track: #312D4B;

  --shadow-select-options: rgba(200, 200, 200, 0.2) 0 5px 5px -3px,
  rgba(200, 200, 200, 0.04) 0 5px 8px 2px,
  rgba(200, 200, 200, 0.04) 0 3px 12px 1px;
}

@mixin light {
  --color-bg: #F4F5FA;
  --color-card: #FFFFFF;
  --color-card-hover: #f5f5f5;
  --color-header: #FFFFFF;
  --color-sidebar: #F4F5FA;
  --color-title: #5E5669;
  --color-text: #5E5669;
  --color-border: #d3d3d3;

  --color-button-text: #FFFFFF;
  --shadow-preview-card: 0 3px 32px rgba(0, 0, 0, .08);

  --color-switch: #FFFFFF;
  --shadow-switch: rgba(58, 53, 65, 0.2) 0 2px 1px -1px,
    rgba(58, 53, 65, 0.14) 0 1px 3px 0,
    rgba(58, 53, 65, 0.12) 0 1px 3px 0;

  --color-text-input: rgba(58, 53, 65, 0.6);

  --color-thumb: #C7C7C7;
  --color-thumb-hover: #999999;
  --color-track: #EEEEEE;

  --shadow-select-options: rgba(58, 53, 65, 0.2) 0 5px 5px -3px,
  rgba(58, 53, 65, 0.14) 0 8px 10px 1px,
  rgba(58, 53, 65, 0.12) 0 3px 14px 2px;
}

@mixin theme-colors($light-theme: true) {
  @if $light-theme {
    @include light;
  } @else {
    @include dark;
  }
}
