@import "mixins/theme";

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, sans-serif;
}

body {
  @include theme-colors(true);

  background-color: var(--color-bg);
  transition: background-color var(--transitiom-duration) var(--transition-timing-func);

  &.dark {
    @include theme-colors(false);
  }
}
