:root {
  --primary-color-700: #5a2c40;
  --primary-color-600: #753c4c;
  --primary-color-500: #904c55;
  --primary-color-400: #aa5f5d;
  --primary-color-300: #f1c1c1;
  --primary-color-200: #ffe9e9;

  --dark-color-700: #181515;
}

button {
  border: none;
  background-color: transparent;
}

.sb-input__input {
  padding: 11px 15px 9px;
}

input:-internal-autofill-selected {
  border-radius: 15px;
}
